
#searchDiv {
    width: 500px;
    height: auto;
    font-size: 18px;
    margin: 5px auto;
    padding: 6px;
    outline: 0.1px solid black;
    background-color: rgb(160, 176, 192);
    display: flex;
    flex-wrap: wrap;
}
#searchTypesId {
    width: 500px;
    height: 30px;
    margin: 0px auto;
    align-items: center;

}

#searchSimpleDiv {
    margin: auto 20PX;
    border-radius: 18px;
    outline: 0;
    border: 0.1px solid black;
}

#searchComplicated {
    margin: auto 20px;
    border-radius: 18px;
    outline: 0;
    border: 0.1px solid black;
}

.active {
    background-image: url('./icons/radio-button-active.png');
    display: flex;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 2px 0.4px;
    background-color: #00a8b3;

}

.offActive {
    background-color: rgb(255, 255, 255);
    background-image: url('./icons/radio-button-offActive.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-x: 3px;

}

input {
    height: 20px;
    font-size: 15px;
    border-radius: 18px;
    border: 1px solid black;
    outline: none;
    padding: 0 10px 0 10px;
}

input:focus {
    height: 20px;
    border: 1.5px solid #00a8b3;
}

input:active {
    background-color: #cecece;
}



.type {
    padding: 0 35px 0 25px ;
    margin: 0 10px;
    text-align: center;
    float: left;
    outline: 0.1px solid black;
}

#inpTextsimpleId {
    width: 430px;
    margin: 5px 0px 10px 10px;
}

#inpCheckboxSimpleDivId {
    height: 70px;
    margin: 0px 10px 0px 10px;
}

#inpCheckboxSimpleDivId > hr {
    margin: 15px 0 5px 0;
}

#checkboxInputSimplId{
    height: 18px;
    margin: 0 10px 5px 0;
}

#NoDocDivId input{
    margin: 0px 10px 0px 20px;
}

#NoDocDivId #inpNoDoc {
    width: 230px;
}

#inpNoDocDivId {
    height: auto;
}

#inpNoDocTextSpanId {
    font-size: 15px;
    padding: 0px 0px 0px 326px;    
}

#inpRecceivingBodySpanId {
    font-size: 15px;
    height: 15px;
    margin: 0px 330px 0px 20px;    
}

#NoDocDivId #inpDocTypeId {
    width: 165px;
    margin: 2px 0px 10px 0px;
}

#inpReceivingBodyId {
    width: 430px;
    margin: 0px 10px 10px 10px;
}

#accseptDivId > #inpAcceptedYearSpanId {
    padding : 0px 5px 0px 220px;
}

#accseptDivId {
    height: 80px;
    margin: 0px 10px 0px 11px;
}

#inpAcceptedYearId {
    width: 66px;
}

#checkboxOtherDivId {
    padding: 5px;
    /* margin: 10px 10px 15px 11px; */
}

#checkboxOtherDivId input{
    width: 18px;
    height: 18px;
    margin: 10px 10px 10px 5px;
}

#labelCheckboxOfficialIncActsId {
    height: 20px;
    margin: 10px 20px 0px 0px;
    padding: 0;
}

#checkboxLastLookId label{
    height: 20px;
    margin: 10px 2px 0px 0px;
}

#checkboxOfficialIncActsId label {
    height: 20px;
    margin: 0px 2px 0px 10px;
}

#buttApplySearchId {
    width: 150px;
    height: 30px;
    font-size: 16px;
    margin:  15px 0 0 165px;    
}

#searchDocTypesPageDivId {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    opacity: 1;
    overflow: auto;
}

#divDocPropId {
    top: 20px;
    right: 140px;
    bottom: 20px;
    display: flex;
    position: fixed;
    overflow: auto;
    background-color: rgb(108, 142, 165);
}

.hiddenDiv {
    visibility: hidden;
}

.none {
    display: none;
}

#divDocPropId > #divDocTypeId {
    width: 300px;

}

#divDocPropId > #divDocTypeId > label > hr {
    margin: 5px;
}

#divDocPropId > #divDocTypeId > label > li {
    font-size: 14px;
    list-style: none;
    list-style-type: none;
    margin: 0px 0 3px 0 0;
    padding: 1px;
}

#divDocPropId > #divDocTypeId > label > li > text {
    margin: 30px;
    padding: 0px;
}

#divDocPropId > #divDocTypeId > label > li input {
    width: 15px;
    height: 15px;
    margin: 0 10px 0px 7px;
}

#divDocTypeId > #searchDocTypesDivId {
    width: 300px;
    height: 20px;
    margin: 15px 0px;
}

#divDocTypeId > #searchDocTypesDivId input {
    position: fixed;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    
}

#searchTypeItemsDivId > div {
    text-align: center;
    width: auto;
    float: left;
    height: 15px;
    margin: 2px;
    padding: 5px;
    border: 0.1px solid rgb(0, 0, 0);
    background-color: rgb(0, 187, 255);
    border-radius: 18px;
    font-size: 15px;
}

#searchTypeItemsDivId > div > label > input {
    width: 15px;
    height: 15px;
    padding: 0px;
    margin: 0px 5px 0px 6px;
    text-align: center;

}

#searchTypeItemsDivId {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    
    font-size: 15px;

}

